* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #363941;
    text-align: center;
    position: relative;
    color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    flex-direction: column;
    background: linear-gradient(to top right, #00bdac, #4da0c9, #ac7dd1);
}

h1 {
    font-size: 2.8em;
}

h2 {
    font-size: 1.2em;
    font-weight: 500;
}

.container {
    position: absolute;
    top: 20px;
    right: 22px;
    color: whitesmoke;
    font-weight: 600;
}

.btn {
    padding: 5px 25px;
    border: 2px solid white;
    font-size: 1em;
    border-radius: 5px;
    background: inherit;
    margin: 10px auto;
    cursor: pointer;
}

.btn:hover {
    background: rgb(247, 240, 240);
}

.score {
    background: #2a3d4a;
    width: 20%;
    border-radius: 5px;
    margin-top: 10px;
}

.clicks {
    font-size: 1.2em;
}

.wrapper {
    width: 50%;
}

.cards {
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.cards .card {
    width: 22%;
    background: #2a3d4a;
    height: 135px;
    margin: 10px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    cursor: pointer;
}

.card img {
    width: 90%;
}

.flip {
    transition: 0.8s;
    transform: rotateY(180deg);
}

.no_flip {
    display: block;
}

.show_img {
    transition: 0.8s;
    transform: rotateY(-180deg);
}

.no_img {
    display: none;
}

.open {
    display: block;
}

.shake {
    animation-name: shakeCard;
    animation-duration: 0.4s;
    animation-timing-function: ease-in-out;
}

@keyframes shakeCard {

    0%,
    100% {
        transform: translateX(0);
    }

    20% {
        transform: translateX(-13px);
    }

    40% {
        transform: translateX(13px);
    }

    60% {
        transform: translateX(-8px);
    }

    80% {
        transform: translateX(8px);
    }

}